<a href="https://colab.research.google.com/github/FiljohnDelinia/CPE-103-OOP-1-A/blob/main/Laboratory_Activity_No_2_1_(Literals%2C_Operators%2C_and_Variables)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

In [ ]:
value = 5
print(value)
type(value)

5

int

In [ ]:
value = 5.0
print(value)
type(value)

5.0

float

In [ ]:
#a
value = 2+3j
print(value)
type(value)

(2+3j)

complex

In [ ]:
#b
value = 'Hello World'
print(value)
type(value)

Hello World

str

In [ ]:
#c
value = "Hello World"
print(value)
type(value)

Hello World

str

In [ ]:
#c
value = True
print(value)
type(value)

True

bool

In [ ]:
#d
value = False
print(value)
type(value)

False

bool

In [ ]:
#e
value = [1,2,3,4,5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

In [ ]:
#f
value = (1, 2, 3, 4, 5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

In [ ]:
#g
value = { 'name': 'Filjohn B. Delinia' }
print(value)
type(value)

{'name': 'Filjohn B. Delinia'}

dict

In [ ]:
#h
value = None
print(value)
type(value)

None

NoneType

In [ ]:
#i
value = 5
value2 = -6
print(value + value2)

-1

Performing Operations with Python

In [ ]:
#a
value, value2 = 5.0, 6
print(value + value2)

11.0

In [ ]:
#b
value, value2 = -5, 6.1
print(value + value2)

1.0999999999999996

In [ ]:
#c
value, value2 = "Hello", ' world'
print(value + value2)

Hello world

In [ ]:
#d
value, value2 = [1,2,3], [4,5,6]
print(value + value2)

[1, 2, 3, 4, 5, 6]

In [ ]:
#e
value, value2 = (1,2,3), (4,5,6)
print(value + value2)

(1, 2, 3, 4, 5, 6)

In [70]:
#f
value, value2 = {"name": "Royce"}, {"age": 2}
name_age = {**value, **value2}
print(name_age)

{'name': 'Royce', 'age': 2}

3.

In [ ]:
#a
value, value2 = 30, 4
print(value*value2)

120

In [ ]:
#b
value, value2 = 30, 4
print(value2**2)

16

In [ ]:
#c
value, value2 = 30, 4
print(value2**3)

64

In [ ]:
#d
value, value2 = 30, 4
print(value*value2+value2**2+1)

137

In [ ]:
#e
value, value2 = 30, 4
print(value/value2)

7.5

In [ ]:
#f
value, value2 = 30, 4
print(value%value2)

2

Assigning Input Data to a Variable

In [ ]:
#Finding a person’s BMI (metric)

name = input("Enter your name: ")
weight = float(input("Enter your weight in (kg): "))
height = float (input("Enter your height in meters (m): "))
bmi = weight/(height)**2
print("BMI:", bmi)

Enter your name: John Ray
Enter your weight in (kg): 60
Enter your height in meters (m): 1.6764
BMI: 21.349904958763087

Supplementary Activity

In [ ]:
#1.	Write the Python equivalent code of the following C code:

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (base*height)/2
print("The area of the triangle is:",area)

Enter the base of the triangle: 5
Enter the height of the triangle: 5
The area of the triangle is: 12.5

In [ ]:
#2.	Write a program that would convert Celsius to Fahrenheit given the formula: F = (C × 9/5) + 32 Example of conversion:

celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit = (celsius*9/5)+32
print("The temperature in Fahrenheit is:",fahrenheit, "degrees")

Enter the temperature in Celsius: -20
The temperature in Fahrenheit is: -4.0 degrees

In [ ]:
#3.	Write a program that can determine the distance between two points given the coordinates using the formula:

x1 = float(input("Enter the x-coordinate of the first point: "))
y1 = float(input("Enter the y-coordinate of the first point: "))
x2 = float(input("Enter the x-coordinate of the second point: "))
y2 = float(input("Enter the y-coordinate of the second point: "))

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("The distance between the two points is:", distance)

Enter the x-coordinate of the first point: 2
Enter the y-coordinate of the first point: 2
Enter the x-coordinate of the second point: -3
Enter the y-coordinate of the second point: 3
The distance between the two points is: 5.0990195135927845