<a href="https://colab.research.google.com/github/FiljohnDelinia/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [6]:
x=5
y=2

if x>y:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [5]:
#This is a comment
print("Hello, World")

Hello, World

Variable Naming Conventions

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Python Variable

In [15]:
z= 1
a,b= 0,-1
c = "Sally"
print(a)
print(b)
print(c)
print(z)

0
-1
Sally
1

Casting

In [18]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type()Function

In [21]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quotes or Single quotes

In [26]:
v="John"
q='John'
print(v)
print(q)

John
John

Case sensitive

In [25]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variables

In [27]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [28]:
x=y=z= "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [37]:
x="enjoying"
print("Python programming is "+ x)

x= "Python programming is "
y= "enjoying"
z= x+y
print(z)

Python programming is enjoying
Python programming is enjoying

Arithmetic Operations

In [45]:
x = 10
y = 3
#Exponentiation
x**2
#Division
x/y
#Floor Division
x//y
#Remainder
x%y
#Multiplication
x*y
#Subtraction
x-y
#Addition
x+y

13

Assignment Operators

In [48]:
x = 3
x*=3 #x=x*3
print(x)

9

Comparison Operators

In [50]:
x = 5
y = 3
x>y

True

Logical Operators

In [53]:
x = 5
y = 2

not(x>y)

False

Identity Operators

In [51]:
a,b,c=0,-1,5
a is c
False

False

Bitwise Operators

In [58]:
#decimal to binary
#10 = 1010

x = 10
print(x>>2)

2

Application 1

In [71]:
#Application 1

#Rectangle
length = int(input())
width = int(input())
height = int(input())
area = (length*width*height)
print("Area of rectangle is:", area)

5
5
5
Area of rectangle is: 125

In [74]:
#Application 1

#Circle
radius = int(input())
area = (3.1416*radius*radius)
print("Area of circle is:", area)

5
Area of circle is: 78.54

In [77]:
#Application 1

#Square
length = int(input())
width = int (input())
area = (length*width)
print("Area of square is:", area)

5
5
Area of square is: 25