<a href="https://colab.research.google.com/github/FiljohnDelinia/CPE-103-OOP-1-A/blob/main/VARIABLES_AND_DATA_TYPES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON USES FIVE STANDARD DATA TYPES:

In [2]:
#NUMBERS
varNum=123
pi=3.14159

#STRINGS
varString="Hello World!"
varText='This is a String'

#LISTS
varList= ["abc", 123]

#TUPLES
varTuple= ('abc', 123, "HELLO")

#DICTIONARIES
var=3
varDict={'first':1, '2':'2nd', 3:var}

varDict= {}
varDict['first']=1
varDict['2']='2nd'
varDict[3]=var

ARITHMETIC

In [13]:
#ADDITION
a=5+3
print(a)

#SUBTRACTION
a=5-3
print(a)

#MULTIPLICATION
a=5*3
print(a)

#EXPONENT
a=5**3
print(a)

#DIVISION
a=5/3
print(a)
b=5%3
print(b)
c=5//3
print(c)

#INCREMENT/DECREMENT
a=5
a+=1
print(a)

#DECREMENT
a=5
a-=1
print(a)

#STRING CONCATENATION
a='Hello'+' World!'
print(a)

#COMPLEX EXPRESSIONS
a=3+5-6*2/4
print(a)

8
2
15
125
1.6666666666666667
2
1
6
4
Hello World!
5.0

CONDITIONAL STATEMENTS

In [16]:
#BOOLEAN CONDITIONS
x=True

if x:
    print("var is True")
else:
    print("var is False")

#STRING CONDITIONS
x="Hello World!"

if x== 'Hello World!':
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

#NUMERIC CONDITIONS
x=10

if x=='10':
    print("var x is a string")
elif x == 10:
    print("var x is an integer")
else:
    print("var x is none of the above")

var is True
var x is Hello World!
var x is an integer

LOOPS

In [31]:
#FOR LOOPS
for var in range(0,5,2):
    print(var)

#WHILE LOOPS
var=0
while var<5:
    print(var)
    var+=2

#NESTED LOOPS
x=0
while x<5:
    for y in range (0,x):
        print(y,end='')
    x += 1
    print()

0
2
4
0
2
4

0
01
012
0123

FUNCTIONS

In [40]:
#def function_name:
      #commands

def remainder(n,m):
    while True:
        if n-m<0:
            return n
        else:
            n=n-m

remainder(10,4)

2

LISTS

In [42]:
pi=3.14159
varList=[1,2,'A','B', 'Hello!', pi]
print(varList[0])

print(varList[4])

varList.append('World!')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

DICTIONARIES

In [48]:
var="Hello World!"
varDict={'first':123,2:'abc','3':var,4:['lista','listb']}
print(varDict['first'])

print(varDict[2])

print(varDict['3'])

print(varDict[4])

print(varDict[4][1])

len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

LIST GENERATORS AND COMPREHENSION

In [70]:
def gen_num_up_to(n):
    num=0
    while num<n:
        yield num
        num +=1

gen_num_up_to(5)

varList=gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [71]:
def gen_num_up_to(n):
    num=0
    while num<n:
        yield num
        num +=2

varList=gen_num_up_to(5)
print([var for var in varList])

varList=range(0,5,2)
print([var for var in varlist])

[0, 2, 4]
[0, 2, 4]

SLICING

In [73]:
varList=[1,2,3,4,5,6,7,8,9,10]
print(varList[:5])

print(varList[5:])

print(varList[:-2])

print(varList[-2:])

print(varList[2:-2])

print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]